* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    height: 100vh;
}

.left-container {
    width: 500px;
    background: url(/home/kgoerg/repos/odin-sign-up-form/images/leaves.jpg);
    background-size: cover;
    flex-shrink: 0;
}

.black-background {
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    position: relative;
    top: 200px;
    padding: 10px;
}

.black-background p {
    color: white;
    font-size: 4rem;
}

.left-container sub {
    position: relative;
    top: 800px;
    left: 150px;
    color: white;
}

.left-container a {
    color: white;
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.service-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 50px;
    background: rgb(243, 239, 239);
    padding: 30px 50px 0px 50px;
    flex: 1 1 auto;
}

h1 {
    max-width: 60ch;
}

.service-description h1:last-child {
    margin-bottom: 50px;
}

.sign-up {
    /* May need to edit the margin depending on how flex-ing the form goes */
    margin-left: 50px;
    flex: 3 1 auto;
}

form fieldset {
    display: flex;
    flex-wrap: wrap;
}