* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    height: 100vh;
}

.left-container {
    width: 500px;
    background: url(/home/kgoerg/repos/odin-sign-up-form/images/leaves.jpg);
    background-size: cover;
    flex-shrink: 0;
}

.container-image {
    flex: 1 1 auto;
}

.container-image p:first-child {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 4rem;
    position: relative;
    top: 150px;

}

.right-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.service-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 50px;
    background: rgb(243, 239, 239);
    padding: 50px 50px 0px 50px;
    flex: 1 1 auto;
}

h1 {
    max-width: 60ch;
}

.service-description h1:last-child {
    margin-bottom: 50px;
}

.sign-up {
    /* May need to edit the margin depending on how flex-ing the form goes */
    margin-left: 50px;
    flex: 1 1 auto;
}

label,input{
  display:flex;
  flex-direction:column;
}