* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    height: 100vh;
}

.left-container {
    width: 600px;
    background: teal;
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.service-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 50px;
    background: rgb(243, 239, 239);
    padding: 150px 50px 0px 50px;
}

h1 {
    max-width: 60ch;
}

.service-description h1:last-child {
    margin-bottom: 50px;
}

