@font-face {
    font-family: 'Norse';
    src: url('../odin-sign-up-form/transfonter.org-20260216-182935/Norse-Bold.woff2') format('woff2'),
        url('../odin-sign-up-form/transfonter.org-20260216-182935/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Left-side of page */
.left-container {
    width: 600px;
    background: url(/home/kgoerg/repos/odin-sign-up-form/images/leaves.jpg);
    background-size: cover;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.black-background {
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    position: relative;
    top: 200px;
}

.black-background img {
    height: auto;
    width: auto;
    max-height: 200px;
    max-width: 200px;
    padding: 20px;
}

.black-background p {
    color: white;
    font-size: 7rem;
    font-family: "Norse";
}

.left-container sub {
    color: white;
    text-align: center;
    margin: 10px;
}

.left-container a {
    color: white;
}

/* Right side of page */
.right-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

/* Top right section */
.service-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1rem;
    gap: 50px;
    background: whitesmoke;
    padding: 30px 50px 0px 50px;
    flex: 1 1 auto;
}

.service-description h1 {
    max-width: 60ch;
}

.service-description h1:last-child {
    margin-bottom: 50px;
}

/* Middle right section */
.sign-up {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    background: whitesmoke;
}

.sign-up h1:first-child,
.input-fields {
    padding: 10px 0 0 50px;
    background-color: white;
}

.sign-up h1:first-child {
    padding-top: 20px;
    padding-bottom: 20px;
}

.top-sign-up,
.middle-sign-up,
.bottom-sign-up {
    display: flex;
    gap: 100px;
}

.top-sign-up div,
.middle-sign-up div,
.bottom-sign-up div {
    display: flex;
    flex-direction: column;
}

.input-fields {
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 3px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding-bottom: 30px;
}

label {
    color: rgb(51, 51, 51);
}

input {
    height: 30px;
    width: 300px;
    border-radius: 5px;
    border-color: #E5E7EB;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

input[type="email"]:invalid,
input[type="password"]:invalid {
    border-color: red;
}

input:focus {
    outline: none;
    border: 2px solid blue;
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.1); 
}

/* Bottom right section */
.account-management {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: white;
    padding-left: 50px;
    background: whitesmoke;
}

.account-management button {
    width: 250px;
    height: 50px;
    margin: 20px 0 40px 0;
    background-color: #596D48;
    font-size: inherit;
    font-weight: bold;
    color: white;
    box-shadow: 0 4px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 0px;
}